.controls-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
}
.play-pause-btn{
    background-color: rgb(240, 187, 54);
    border-radius: 10px;
    padding: 5px;
}