:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  box-sizing: border-box;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
}
#root {
  /* max-width: 1280px; */
  height: 100%;
  margin: 0 auto;
  padding: 0;
  /* text-align: center; */
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.main-container{
  display: flex;
  height: 100%;
}
.pages-container{
  width: calc(100% - 100px);
  height: 100%;
  padding: 5px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(73,150,90,1) 38%, rgba(0,212,255,1) 100%);
}